*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Memberikan background color pada body */
body{
    background-color: #f0f2f5;
    color: #333;
}

/* memberi css pada header */
header{
    background-color:#2c3e50;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

/* memberikan ukuran font pada header 1 */
header h1{
    font-size: 1.5rem;
}
/* layout buat nanti per tampilan enak dilihat */
.grid-container{
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 30px;
    background-color: gray;
}
/* desain kartu? */
.card{
    padding: 20px;
    background-color: white;
    border-radius: 12px;
}
/* Membuat hover ketika masing masing desain kartunya di tunjuk */
.card:hover{
    transform: translateY(-3px);
}

.sensor-card h3{
    color: #7f8c8d;
    font-size: 1rem;

}
.sensor-value{
    font-size: 3rem;
    font-weight: bold;
    color: #2980b9;
}
.unit{
    font-size: 2rem;
    color: #95a5a6;
    margin-left: 5px;
}
.info{
    margin-top: 10px;
    color: #27ae60;
    font-size: 0.9rem;
    font-weight: bold;
}
.chart-card{
    grid-column: 1/-1;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #95a5a6;
    border: 2px dashed #bdc3c7;
}

button{
    background-color: #3498db;
    color:white;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer; 
    font-weight: bold;
    transition: background 0.3s;
}
button:hover {
    background-color: #2980b9;
}
.status {
    font-weight: bold;
    background: rgba(255,255,255,0.2);
    padding: 5px 10px;
    border-radius: 20px;
}
.tools-card{
    font-size: 0.9rem;
    font-weight: bold;
    color: #95a5a6;
}
.type-value{
    font-size: 3rem;
    text-align: center;
    font-weight: bold;
    color: #2980b9;
    padding-top: 10px;
}
/* slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-top: 10px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.device{
    margin-top: 10px;
    color: #bd2424;
    font-size: 0.9rem;
    font-weight: bold;
}
